/* Sign Button */

.buttonSign:hover{
    cursor: pointer;
}

.buttonSign--dark{
    background-color: #FAFAFA;

    color: #303030;
}

.buttonSign--light{
    background-color: #303030;

    color: #fafafa;
}

.buttonSign{
    margin: 20px;
    width: 20rem;
    height: 6rem;
    flex-shrink: 0;

    border-radius: 30rem;

    text-align: center;
    font-family: Roboto;
    font-size: 3rem;
    font-weight: 700;
}

@media screen and (max-width: 768px) {
    .buttonSign{
        width: 12rem;
        height: 5rem;
        font-size: 2rem;
        margin: 20px 10px;
    }
}

@media screen and (max-width: 425px) {
    .buttonSign{
        width: 9rem;
        height: 5rem;
        font-size: 2rem;
        margin: 20px 10px;
    }
}