// Fonts for the whole project

@font-face {
    font-family: Roboto;
    src: url(./Fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(./Fonts/Roboto/Roboto-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: Roboto;
    src: url(./Fonts/Roboto/Roboto-Light.ttf);
    font-weight: lighter;
}

@font-face {
    font-family: BlackHanSans;
    src: url(./Fonts/BlackHanSans-Regular.ttf);
}

// Main Rules for whole project

:root {
    font-size: 62.5%; // 1rem = 10px
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; // Make sure padding + border + margin are included in the width and height of elements
}

body {
    font-size: 1.6rem;
}

// App component

.app {
    position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;

    display: flex;
    justify-content: center;
  }

.app--dark {
    background-color: #202020;
}

.app--light {
    background-color: #FAFAFA;
}

.app__hero {
    height: 100%;
    width: 100%;
    max-width: 160rem;
}

.app__themeSwitch {
    position: absolute;
    top: 3rem;
    right: 2rem;
    z-index: 100;
}

.app__themeSwitch:hover {
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    body {
        font-size: 0.1rem;
    }
    .app__themeSwitch {
        top: 2rem;
        right: 2rem;
        z-index: 100;
    }
}