// Structure
.tasks{
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.tasks_goBack{
    grid-area: 1 / 1 / 2 / 2;
}

.tasks_timer{
    grid-area: 1 / 2 / 2 / 10;
}

.tasks_main{
    grid-area: 2 / 1 / 11 / 11;
}

// Button GoBack

.tasks_goBack{
    display: flex;
    justify-content: center;
    align-items: center;
}

.tasks_goBack__button{
    height: 4rem;
    width: 15rem;

    border: None;
    border-radius: 10px;

    font: bold 2rem Roboto;
}

.tasks_goBack__button--dark{
    color: #202020;
    background-color: #fafafa;
}

.tasks_goBack__button--light{
    color: #fafafa;
    background-color: #202020;
}

.tasks_goBack__button:hover{
    cursor: pointer;
}

// Timer
.tasks_timer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    font: bold 5rem Roboto;
}

.tasks_timer--dark{
    color: #fafafa;
}
.tasks_timer--light{
    color: #303030;
}

.tasks_timer__label{
    font-size: 2.5rem;
}

.tasks_timer__next{
    font-size: 3rem;
    color: #1DB954;
}

// Main

.tasks_main{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}